.btn-orange {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    color: black;
    background-color: orange;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: .9rem;
    line-height: 1.6;
    border-radius: .25rem;
}

body {
    margin: 0;
    font-family: Nunito,sans-serif;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #FFF2E5;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: orange;
    border-color: #3490dc;
